@model AllEmployeesQueryModel

@{
    ViewData["Title"] = "Employees";
}

<form method="get">
    <div class="row mt-3">
        <div class="form-group col-md-4">
            <label asp-for="Department"></label>
            <select asp-for="Department" class="form-control">
                <option value="">All</option>
                @foreach (var department in Model.Departments)
                {
                    <option value="@department">@department</option>
                }
            </select>
            <button class="text-center mt-1 float-right" type="submit">Submit search</button>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Ivan, Georgi, etc..." />
        </div>
    </div>
</form>

<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Nationality</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>

                    <th scope="row">@employee.Id</th>
                    <td>@employee.Name</td>
                    <td>@employee.EmailAddress</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.Nationality</td>
                    <td>@employee.DateOfBirth</td>
                    <td>@employee.Gender</td>
                    <td>@employee.Department</td>
                </tr>
            }
        </tbody>
    </table>
</div>
