@model AllEmployeesQueryModel

@{
    ViewData["Title"] = "Employees";
}

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalEmployees / AllEmployeesQueryModel.EmployeesPerPage);
}


<form method="get">
    <div class="row mt-3 justify-content-center">
        <div class="form-group col-md-4">
            <label asp-for="Department"></label>
            <select asp-for="Department" class="form-control">
                <option value="">All</option>
                @foreach (var department in Model.Departments)
                {
                    <option value="@department">@department</option>
                }
            </select>
            <button class="text-center mt-1 float-right" type="submit">Submit search</button>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Ivan, Georgi, etc..." />
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0">Date Created</option>
                <option value="1">Name</option>
                <option value="2">Department</option>
                <option value="3">Nationality</option>
                <option value="4">Date of birth</option>
            </select>
            <button class="text-center mt-1 float-right" type="submit">Submit search</button>

        </div>

    </div>
</form>

<div class="row justify-content-center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email Address</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Nationality</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Gender</th>
                <th scope="col">Department</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <th scope="row">@employee.Id</th>
                    <td>@employee.Name</td>
                    <td>@employee.EmailAddress</td>
                    <td>@employee.PhoneNumber</td>
                    <td>@employee.Nationality</td>
                    <td>@employee.DateOfBirth</td>
                    <td>@employee.Gender</td>
                    <td>@employee.Department</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="col-md-6">
        <a class="btn btn-primary float-left @(Model.CurrentPage == 1 ? "disabled" : string.Empty)" asp-controller="Employees" asp-action="All" asp-route-currentPage="@previousPage"
           asp-route-department="@Model.Department"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6">
        <a class="btn btn-primary float-right @(Model.CurrentPage == maxPage ? "disabled" : string.Empty)" asp-controller="Employees" asp-action="All" asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-department="@Model.Department"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>


